name: Lint and Format Check

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  black:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install black
        run: |
          python -m pip install --upgrade pip
          pip install 'black[d]>=24.0.0,<26.0.0'

      - name: Run black check
        run: |
          black --check --diff src/
